<head>
    <title><%= title %> </title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-confirmation.js"></script>
</head>

<% if (user) { %>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">LUAN+</a>
    </div>
    <div>
        <ul class="nav navbar-nav">


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    图片管理
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/gupload">示例图片上传</a></li>
                    <li class="divider"></li>
                    <li><a href="/rawupload">原图上传</a></li>
                    <li class="divider"></li>
                    <li><a href="/upload">上传测试</a></li>
                    <li class="divider"></li>
                    <li><a href="/t2p">组图发布</a></li>


                </ul>
            </li>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    素材查看
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/pg">原图查看</a></li>
                    <li class="divider"></li>
                    <li><a href="/allg">示例图片查看</a></li>
                    <li class="divider"></li>
                    <li><a href="/allp">所有素材</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    推送管理
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/push">推送消息</a></li>
                    <li class="divider"></li>
                    <li><a href="/push_status">查看所有推送</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    数据统计
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">产品应用</a></li>
                    <li><a href="#">服务器</a></li>
                    <li><a href="#">数据存储</a></li>
                    <li class="divider"></li>
                    <li><a href="#">其他1</a></li>
                    <li class="divider"></li>
                    <li><a href="#">其他2</a></li>
                </ul>
            </li>
            <li><a href="/logout">LOGOUT</a></li>
        </ul>
    </div>
</nav>
<% } %>

