<div class="col-md-3">
    <div class="thumbnail">
        <img src=<%= url %>
             alt="通用的占位符缩略图">
    </div>
    <div class="caption">
       <a href="/oneg?group=<%=group%>&url=<%= bigurl %>"> <h4>GroupID = <%= group%></h4></a>
    </div>
</div>