<%- include('header', {title:'A Luan'}) -%>
<body>

<form role="form" method="post">
    <div class="form-group">
        <label for="name">推送内容</label>
        <textarea class="form-control" name="push_content" rows="3"></textarea>
    </div>
    <button id="btnSub" class="btn btn-lg btn-primary" type="submit">push</button>

</form>

</body>