   <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
         <img src=<%= url %>
         alt="通用的占位符缩略图">
      </div>
      <div class="caption">
         <h3>缩略图标签</h3>
         <p>一些示例文本。一些示例文本。</p>
      </div>
   </div>
