<!DOCTYPE html>
<html>
<%- include('header', {title:'A Luan'}) -%>
<div class="alert alert-warning">
    <a href="/upload" class="close" data-dismiss="alert">
        &times;
    </a>
    <strong>失败！</strong><%= err%>
</div>

</html>
