<!DOCTYPE html>
<html>
<%- include('header', {title:'A Luan'}) -%>
<div id="myAlert" class="alert alert-success">
    <a href="/upload" class="close" data-dismiss="alert">&times;</a>
    <strong>成功！</strong>图片成功<%= title%> - ID <%=picID%>>
</div>
</html>
